html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background-color: black;
  transition: background-color 5000ms;
}

html, body {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 0;
}

* {
  color: white;
  font-family: 'Encode Sans Condensed', sans-serif;
  /*border: 1px solid teal;*/
}

.head {
  height: 80vh;
  position: relative;
}

.head > .wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0, 0.2);
  border: 1px solid rgba(255,255,255, 0.2);
  padding: 4vw;
}

.title {
  width: 90vw;
  max-width: 500px;
  margin: auto auto;
  text-align: center;
}

.about p {
  font-size: 150%;
  text-align: justify;
}

.navigation {
  height: 5vh;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
}

.navigation > a {
  display: block;
  height: 100%;
  line-height: 5vh;
  flex-grow: 1;
  text-align: center;
  text-decoration: none;
  background-color: rgba(0,0,0, 0.2);
  border: 1px solid rgba(255,255,255, 0.2);
  transition: flex-grow 240ms;
  font-size: 150%;
}

.navigation > a:hover {
  flex-grow: 2;
}

@media only screen and (max-width: 600px) {
  .navigation > a, .head > .wrapper {
    background-color: rgba(0,0,0,0);
    border: none;
  }

  .navigation > a {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 500px) {
  .about > p {
    font-size: 100%;
  }

  .navigation {
    flex-wrap: wrap;
    height: 20vh;
  }

  .navigation > a {
    width: 50%;
    height: 50%;
  }
}
