html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background-color: black;
  transition: background-color 5000ms;
}

html, body {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 0;
}

* {
  color: white;
  font-family: 'Encode Sans Condensed', sans-serif;
  margin: 0;
}

.line_white_space {
  white-space: pre-line;
}

.width-third {
  width: 32%;
}

.width-half {
  width: 49%;
}

.width-full {
  width:100%;
}




.head {
  height: 60vh;
  position: relative;
}

.head > .wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0, 0.2);
  border: 1px solid rgba(255,255,255, 0.2);
  padding: 4vw;
}

.title {
  width: 90vw;
  max-width: 500px;
  margin: auto auto;
  text-align: center;
}

.about p {
  font-size: 150%;
  text-align: justify;
}

.navigation {
  height: 5vh;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
}

.navigation > a {
  color: white;
  display: block;
  height: 100%;
  line-height: 5vh;
  flex-grow: 1;
  text-align: center;
  text-decoration: none;
  background-color: rgba(0,0,0, 0.2);
  border: 1px solid rgba(255,255,255, 0.2);
  transition: flex-grow 240ms;
  font-size: 150%;
}

.navigation > a:hover {
  color: white;
  flex-grow: 2;
}

@media only screen and (max-width: 600px) {
  .navigation > a, .head > .wrapper {
    background-color: rgba(0,0,0,0);
    border: none;
  }

  .navigation > a {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 500px) {
  .about > p {
    font-size: 120%;
  }

  .navigation {
    flex-wrap: wrap;
    height: 20vh;
  }

  .navigation > a {
    width: 50%;
    height: 50%;
  }
}

.content {
  width: 99%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.content p {
  font-size: 130%;
}

.single_content {
  margin: 10px;
}
@media only screen and (max-width: 900px) {
  .single_content {
    width: 49%;
  }
}
@media only screen and (max-width: 600px) {
  .single_content {
    width: 100%;
  }
}

.content a {
  text-decoration: none;
}

.content h3 {
  color: white;
  text-align: center;
  font-size: 30px;
  transition: all 240ms;
  position: relative;
  top: 0;
  line-height: 40px;
}

.single_content:hover h3 {
  font-size: 40px;
  text-decoration: underline;
  top: -15px;
}

.content img {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  transition: all 240ms;
}

.single_content:hover img {
  padding: 0;
  margin-bottom: 39px;
}

.content p {
  padding: 20px;
  text-align: justify;
  transition: all 240ms;
  margin-bottom: 0;
  position: relative;
  top: 0;
  text-decoration: none;
}

.single_content:hover p {
  top: -10px;
}
